@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Slider bar section*@

<section id="Showcase" class="bg-dark">
    <div id="MyCarousel" data-ride="carousel" class="carousel slide">
       <ol class="carousel-indicators">
           <li data-slide-to="0" class="active" data-target="#MyCarousel"></li>
           <li data-slide-to="1" data-target="#MyCarousel"></li>
           <li data-slide-to="2" data-target="#MyCarousel"></li>
       </ol>
        <div class="carousel-inner">
            <div class="carousel-item carousel-img-1 active">
                <div class="container">
                    <div class="carousel-caption mb-5 pb-5 text-left">
                        <h2 class="display-4">Heading One</h2>
                        <p class="lead">
                            It is a long established fact that a reader will be distracted by the
                            readable content of a page when looking at its layout.
                        </p>
                        <a href="#" class="btn btn-outline-light">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-img-2">
                <div class="container">
                    <div class="carousel-caption mb-5 pb-5 text-center">
                        <h2 class="display-4">Heading Two</h2>
                        <p class="lead">
                            It is a long established fact that a reader will be distracted by the
                            readable content of a page when looking at its layout.
                        </p>
                        <a href="#" class="btn btn-danger">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item carousel-img-3 ">
                <div class="container">
                    <div class="carousel-caption mb-5 pb-5 text-right">
                        <h2 class="display-4">Heading Three</h2>
                        <p class="lead">
                            It is a long established fact that a reader will be distracted by the
                            readable content of a page when looking at its layout.
                        </p>
                        <a href="#" class="btn btn-light">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#MyCarousel" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a href="#MyCarousel" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</section>


@*Simple text section*@

<section id="text_section">
    <div class="container py-5 text-center">
        <div class="row">
            <div class="col-12">
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam
                    erat. In fringilla massa ut nisi ullamcorper pellentesqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam
                    erat. In fringilla massa ut nisi ullamcorper pellentesqueLorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non diam
                    erat. In fringilla massa ut nisi ullamcorper pellentesque
                </p>
            </div>
        </div>
    </div>
</section>

@*Memories Vlog Section*@

<section id="VLog_section" class="pb-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <div class="card bg-dark text-light">
                        <img src="~/Img/bg (2).JPG" class="img-fluid card-img-top" alt="Photo loading..." />
                        <div class="card-body">
                            <div class="card-title">
                                <h4>Cox's Bazar Ture</h4>
                                <small class="text-muted">Written By: SAMIM HosseN</small>
                                <hr />
                                <p class="lead">
                                    Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui. Fermentumnec intesquet tincidunt eros.
                                </p>
                            </div>
                            <a href="#" class="text-warning">Visite This Catagory >> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <div class="card bg-dark text-light">
                        <img src="~/Img/bg (4).JPG" class="img-fluid card-img-top" alt="Photo loading..." />
                        <div class="card-body">
                            <div class="card-title">
                                <h4>Jomuna River Ture</h4>
                                <small class="text-muted">Written By: SAMIM HosseN</small>
                                <hr />
                                <p class="lead">
                                    Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui. Fermentumnec intesquet tincidunt eros.
                                </p>
                            </div>
                            <a href="#" class="text-warning">Visite This Catagory >> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <div class="card bg-dark text-light">
                        <img src="~/Img/bg (9).JPG" class="img-fluid card-img-top" alt="Photo loading..." />
                        <div class="card-body">
                            <div class="card-title">
                                <h4>Inani Bitch Group Ture</h4>
                                <small class="text-muted">Written By: SAMIM HosseN</small>
                                <hr />
                                <p class="lead">
                                    Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui. Fermentumnec intesquet tincidunt eros.
                                </p>
                            </div>
                            <a href="#" class="text-warning">Visite This Catagory >> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div>
                    <div class="card bg-dark text-light">
                        <img src="~/Img/bg (5).JPG" class="img-fluid card-img-top" alt="Photo loading..." />
                        <div class="card-body">
                            <div class="card-title">
                                <h4>Mohera Jomidar Bari</h4>
                                <small class="text-muted">Written By: SAMIM HosseN</small>
                                <hr />
                                <p class="lead">
                                    Dignissimmorbi rhoncus sed netus ligula conseque netus nulla aliquat id dui. Fermentumnec intesquet tincidunt eros.
                                </p>
                            </div>
                            <a href="#" class="text-warning">Visite This Catagory >> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@*Quarter Sention*@

<section id="Quarter" class="text-light">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-6">
                <h3 class="display-6">Quarter First</h3>
                <div class="d-flex flex-row py-3">                    
                    <div class="col-md-3">
                        <img src="~/Img/bg (4).JPG" class="img-fluid" />
                    </div>   
                    <div class="col">
                        <h5>Quarter Title</h5>
                        <small class="text-muted"> It has survived not only five
                            centuries.It has survived not only five
                            centuries.It has survived not only five
                            centuries.</small>
                    </div>                 
                </div>
                <div class="d-flex flex-row py-3">
                    <div class="col-md-3">
                        <img src="~/Img/bg (5).JPG" class="img-fluid" />
                    </div>
                    <div class="col">
                        <h5>Quarter Title</h5>
                        <small class="text-muted">
                            It has survived not only five
                            centuries.It has survived not only five
                            centuries.It has survived not only five
                            centuries.
                        </small>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="d-flex flex-row">
                    <div class="col-sm col-md-6">
                        <div class="mb-3">
                            <h2 class="display-6">Address</h2>
                            <h4>Post Title</h4>
                            <small class="text-muted">Admin.Domain.com Friday 6th May-2022</small>
                            <p class="text-muted">House 79, Uttara-10, Road No-3,Dhaka, Bangladesh</p>
                            <a href="#" class="text-right text-warning">Read More >></a>
                        </div>
                        <div class="mb-3">
                            <h2 class="display-6">Address</h2>
                            <h4>Post Title</h4>
                            <small class="text-muted">Admin.Domain.com Friday 6th May-2022</small>
                            <p class="text-muted">House 79, Uttara-10, Road No-3,Dhaka, Bangladesh</p>
                            <a href="#" class="text-right text-warning">Read More >></a>
                        </div>
                    </div>
                    <div class="col">
                        <h2 class="display-6">Contact Us</h2>
                        <div>
                            <input type="text"  placeholder="Name" name="username" class="my-2 form-control form-control-lg"/>
                            <input type="email" placeholder="E-mail" name="email" class="my-2 form-control form-control-lg" />
                            <textarea cols="10" rows="5" placeholder="Messages" class="form-control"></textarea>
                        </div>
                        <input class="btn btn-dark my-2" value="SUBMITE" type="button" />
                    </div>                                        
                </div>                              
            </div>            
        </div>
    </div>
</section>